# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
